body {
  padding-top: 60px;
}

.intro-header {
  padding-top: 40px;
}

.color-green {
  color:green;
}

.share-box .fb {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.hide-my {
	display: none;
}

.inline-my {
  display: inline;
}


.fb-comments, .fb-comments * {
    width:100% !important;
}

.btn-chose .btn {
  margin: 2.5px;
}