body {
  padding-top: 60px;
}

.intro-header {
  padding-top: 40px;
}

.color-green {
  color:green;
}

.fb-comments, .fb-comments * {
    width:100% !important;
}

.item-table .item-tr-edit {
	display: none;
}

#item-table .del-button, #item-table .off-button{
 	display: none;
}

#item-table-remove .edit-button, #item-table-remove .on-button{
 	display: none;
}