body {
  padding-top: 60px;
}

.intro-header {
  padding-top: 40px;
}

.color-green {
  color:green;
}

.share-box .fb {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.hide-my {
	display: none;
}

.fb-comments, .fb-comments * {
    width:100% !important;
}

.form-table .tr-edit {
	display: none;
}

#item-table .del-button, #item-table .off-button{
 	display: none;
}

#item-table-remove .edit-button, #item-table-remove .on-button{
 	display: none;
}

#menu-item-table .menu-all-hidden, #chose-table .menu-chose-hidden{
	display: none;
}

.item-one-more .remove-one, .item-three-more .remove-three{
	display: inline-block;
}